:root {
    --bg-color: #f0f2f5;
    --cell-size: 100px;
    --primary-color: #4a90e2;
    --accent-color: #f39c12;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(background.png);
    background-repeat:no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    
}

.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.6);
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
    width: 90%;
    max-width: 400px;
}
#gomb, #clearStorageBtn{
    width: 120px;
    padding: 12px 20px;
    border: none;
    border-radius: 8px; 
    cursor: pointer;
    color: white;
    background-color: red;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
}
#gomb:hover, #clearStorageBtn:hover {
    background-color: #831205; 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

#gomb:active, #clearStorageBtn:active {
    transform: translateY(0); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.scoreboard {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
    font-weight: bold;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 20px auto;
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    transition: background 0.3s;
}
.cell:hover {
    background-color: #ddd;
}

.cell.taken {
    cursor: not-allowed;
}

button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
}

button:hover {
    opacity: 0.9;
}




@media (max-width: 400px) {
    :root { --cell-size: 80px; }
}